*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: aliceblue;

}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    
    /* justify-content: center; */
    margin: 50px 100px;
}
 p{
    padding: 40px 0;
    font-size: 18px;
    line-height: 35px;
}

.container .one button {
    padding: 7px 17px;
    font-size: 20px;
    border-radius: 21px;
    background-color: #087f5b;
    color: #fff;
    border: none;
}
.container .two{
    text-align: center;
}


.container .two img{
    width: 70%;
    border-radius: 15px;
}
/* /////////////section/////// */

.container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    
    /* justify-content: center; */
    margin: 50px 100px;
    gap: 45px;
}
i{
    padding-bottom: 25px;
}
/* h4{
    padding-bottom: 20px;

} */
/* /////////////section2///////// */
.container3{

    display: grid;
    grid-template-columns: 30% auto;
    /* gap: 20px; */
    
    /* justify-content: center; */
    margin: 50px 100px;
    /* gap: 45px; */

    background-color: #087f5b;
    padding: 35px;
    border-radius: 20px;
    color: #fff;

}
.container3 img{
    width: 85%;
    border-radius: 15px;
}

/* ///////////////section4 3 card///////////// */

.container4{
    /* transition: transform 4s ease-in-out 4s; */

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 55px;
    
    /* justify-content: center; */
    margin: 50px 100px;

}
.container4 .card{
    background-color: #fff;
    padding: 0 0px;
    border-radius:25px;
}
.container4 .card .cardContent{
padding: 0 43px 20px;
}

.container4 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
    /* justify-content: center; */
    /* margin: auto; */
}
.container4 .card h4{
    padding: 0 0 20px 0 ;
}

.container4 .card  .addToCart {
    display: flex;
    justify-content: space-between;
}

.container4 .card  .addToCart button{
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 21px;
    background-color: #087f5b;
    color: #fff;
    border: none;
    /* margin-right: 77px; */
}
.container4 .card  .addToCart span{
    font-size: 18px;
    font-weight: bold;
}

.container4 .card:hover{
    transform: scale(1.1);
    transition: transform .5s ease-in-out;

 } 
 /* ////////////footer///////// */
 .footer{
    text-align: center;
 }
